<!DOCTYPE HTML>
<html>
<head>
	<title>{#title}{/#}</title>
	<link rel="stylesheet" type="text/css" href="{$baseUrl}/components/bootstrap/docs/assets/css/bootstrap.css">
</head>
<body>
	<div class="container-fluid">
	{include #content}
	</div>
</body>
</html>